body {
    background-color: #feffef;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #0af;
    font-size: 1.2em;
}

h2 { 
    margin-top: 0px;
    margin-bottom: 0px;
}

body.dark-theme {
    background-color: #3d3d3d;
}

body.dark-theme h2, body.dark-theme p {
    color: #f22;
}

.text {
    max-width: 600px;
    text-align: center;
}

.toggle-contianer input[type=checkbox] {
    display: none;
}

.toggle-contianer label {
    background-color: #0af;
    border: 2px solid #06C;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100px;
    height: 50px;
}

.toggle-contianer label::after {
    background-color: #06C;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 4px;
    transition: all ease-in-out 0.3s;
    width: 42px;
    height: 42px;
}

.toggle-contianer input[type='checkbox']:checked ~ label {
    background-color: #f22;
    border-color: #811;
}

.toggle-contianer input[type='checkbox']:checked ~ label::after {
    background-color: #811;
    transform: translateX(50px);
}