body {
    background-color: #feffef;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #16c0ff;
    font-size: 1.2em;
}

h2 { 
    margin-top: 0px;
    margin-bottom: 0px;
}

body.dark-theme {
    background-color: #3d3d3d;
}

body.dark-theme h2, body.dark-theme p {
    color: #ff1616;
}

.text {
    max-width: 600px;
    text-align: center;
}
